* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu > li > a {
    text-decoration: none;
    color: #222;
}
.menu {
    display: flex;
    gap: 16px;
    list-style: none;
    background-color: hsl(70, 2%, 100%);
    margin: 0;
    padding: 16px 32px;
}