.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f5d75;
    height: 8em;
    /* align-self: flex-end; */
    align-self: flex-end;
}
.footer > p {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}
.footer a {
    color: #fff;
    font-weight: 600;
}