:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(70, 2%, 90%);
  /* min-height: 900px; */
}

body > #root {
  display: grid;
  flex-direction: column;
  /* min-height: 900px; */
  /* justify-content: space-between; */
  
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  box-sizing: border-box !important;
}

a {
  color: #0691c8;
}

.menu .link {
  color: #000;
}

.menu .link:hover {
  color: #1f5d75;
  font-weight: 600;
}